# Copie en /var/www/arche/source/web/.env.local et remplis les <...>
NEXT_PUBLIC_SUPABASE_URL=https://belefuxwpmheownynmyv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=<ton anon key>

# API Laravel = même host / port 80, suffixe /api (gère par nginx)
NEXT_PUBLIC_API_URL=http://<TON_IP_PUBLIQUE>

# Mode production
NODE_ENV=production
